﻿<link rel="stylesheet" href="css/MazeGame.css">
<link rel="stylesheet" href="css/Cells.css">
<link rel="stylesheet" href="css/Threats.css">
<link rel="stylesheet" href="css/Treasure.css">
<div class="PageTitle">
    <h1>Maze Game</h1>
</div>
<main class="Content" data-ng-init="setup()">
    <table class="MazeGame">
        <tr data-ng-repeat="row in room">
            <td data-ng-repeat="cell in row" data-ng-class="setDisplay(cell)" data-ng-attr-title="{{setTitle(cell)}}">
                <div></div>
            </td>
        </tr>
    </table>
</main>
<aside class="Aside">
    <table class="MazeKey">
        <tr>
            <th><div>Maze</div></th>
            <th><div>Threats</div></th>
            <th><div>Treasure</div></th>
        </tr>
        <tr>
            <td class="Player">
                <div>Player</div>
            </td>
            <td class="Troll">
                <div>Troll</div>
            </td>
            <td class="Gold">
                <div>Gold</div>
            </td>
        </tr>
        <tr>
            <td class="Passage">
                <div>Passage</div>
            </td>
            <td class="Werewolf">
                <div>Werewolf</div>
            </td>
            <td class="Silver">
                <div>Silver</div>
            </td>
        </tr>
        <tr>
            <td class="Wall">
                <div>Wall</div>
            </td>
            <td class="Vampire">
                <div>Vampire</div>
            </td>
            <td class="Bronze">
                <div>Bronze</div>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <span class="DropButtonSpan" data-ng-hide="escaped">Drop:
        <br>
        <button class="DropCoin" title="Drop Coin" data-ng-click="dropCoin()">Coin
        </button>
    </span>
    <hr>
    <span class="AttackButtonSpan" data-ng-hide="escaped">Attack with:
        <br>
        <button class="AttackClub" title="Attack with Club" data-ng-click="attack('Club')">Club
        </button>
        <button class="AttackSword" title="Attack with Silver Sword" data-ng-click="attack('Silver Sword')">Silver Sword
        </button>
        <button class="AttackWater" title="Attack with Holy Water" data-ng-click="attack('Holy Water')">Holy Water
        </button>
    </span>
    <hr>
    <span class="ScoreSpan">
        Score:
        <span class="ScoreValue">
            {{wealth}}
        </span>
    </span>
</aside>
<span class="InfoSpan">{{info}}</span>