﻿.Valid {
    background: #fefefe;
}

.Player {
    background: violet;
}

.Wall {
    background: dimgrey;
}

.Passage {
    background: palegreen;
}

/*Temporary easily visible styke*/
.Coin {
    background: hotpink;
}