﻿body {
    padding: 15px;
    font-family: Roboto, Helvetica, sans-serif;
    background: #fefefe;
    color: rgb(35,31,32);
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    text-align: left;
}

div.PageTitle {
    grid-row: 1;
    grid-column: 1 / span 2;
}

h1, h4 {
    text-align: center;
    text-decoration: underline;
    color: rgb(35,31,32);
}

hr {
    color: #fefefe;
    border-width: 0;
}

div {
    padding: 0.9em;
    width: auto;
}

table, td, tr, th {
    border: 2px solid rgb(35,31,32);
    border-collapse: collapse;
    text-align: center;
    width: auto;
}

td {
    padding: 1em;
    width: 1em;
    height: 1em;
}

main, aside {
    padding: 1em;
    margin: 1em;
}

main.Content {
    grid-row: 2;
    grid-column: 1;
}

aside.Aside {
    grid-row: 2;
    grid-column: 2;
}

span.InfoSpan {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
}